
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */

[class*="__container"] {
	max-width: 800px;
	margin: 0 auto;
	padding: 400px 0;
}
.main__traktor {
	width: 600px;
	position: relative;
	perspective: 200px;
	perspective-origin: 450px 0;
}
.main__body {
	width: 500px;
	height: 150px;
	transform: skew(5deg);
	background: #00BFFF;
	position: relative;
	border-radius: 10px 0 0 0;
}
.main__body::before {
	content: "";
	display: block;
	width: 130px;
	height: 130px;
	transform: skew(-35deg);
	background: #00BFFF;
	position: absolute;
	top: 20px;
	left: 410px;
}
.main__body::after {
	content: "";
	display: block;
	width: 100px;
	height: 20px;
	transform: skew(45deg);
	background: #00BFFF;
	position: absolute;
	top: 0;
	left: 480px;
}
.main__windows-top {
	width: 280px;
	height: 200px;
	border: 15px solid #000;
	transform: rotateX(5deg);
	position: absolute;
	top: -195px;
	left: 250px;
	border-radius: 10px 5px 0 0;
	background: #f5f5f5;
}
.main__windows-top::before {
	content: "";
	display: block;
	width: 120px;
	height: 200px;
	border: 15px solid #000;
	transform: rotateX(15deg);
	position: absolute;
	top: -15px;
	left: -10px;
	z-index: 1;
}
.main__windows-top::after {
	content: "";
	display: block;
	width: 240px;
	height: 200px;
	background: url(../img/lukashenko.png) 0 0/85% no-repeat;
	position: absolute;
	top: 10px;
	left: 47px;
}
.main__windows-bottom {
	width: 60px;
	height: 80px;
	border-top: 15px solid #000;
	border-bottom: 15px solid #000;
	border-left: 15px solid #000;
	position: absolute;
	top: 0;
	left: 238px;
	background: #C0C0C0;
	transform: skew(-5deg);
	border-radius: 5px 0 0 5px;
	z-index: 1;
}
.main__windows-bottom::before {
	content: "";
	display: block;
	border-top: 80px solid #000;
	border-right: 70px solid transparent;
	position: absolute;
	top: -15px;
	left: 45px;
}
.main__windows-bottom::after {
	content: "";
	display: block;
	border-top: 50px solid #C0C0C0;
	border-right: 40px solid transparent;
	position: absolute;
	top: 0;
	left: 45px;
}
.lukashenko {
	position: absolute;
	top: -50px;
	left: 300px;
}
.main__engine {
	width: 280px;
	height: 120px;
	background: #000;
	position: absolute;
	top: 30px;
	left: 100px;
}
.main__engine::before {
	content: "";
	display: block;
	width: 200px;
	height: 160px;
	background: #000;
	position: absolute;
	top: -40px;
	left: 220px;
}
.main__engine::after {
	content: "";
	display: block;
	width: 400px;
	height: 40px;
	background: #000;
	position: absolute;
	top: 115px;
	left: -45px;
	transform: rotate(2deg);
	z-index: -1;
}
.main__top-tire {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background: #2b2828;
	position: absolute;
	top: 138px;
	left: -70px;
}
.main__top-tire::before {
	content: "";
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #C0C0C0;
	position: absolute;
	top: 45px;
	left: 45px;
}
.main__top-tire::after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 3px solid #454040;
	position: absolute;
	top: 75px;
	left: 75px;
}
.main__top-wing {
	width: 120px;
	height: 120px;
	border-radius: 0 110px 0 0;
	border-top: 5px solid #454040;
	border-right: 5px solid #454040;
	position: absolute;
	top: 110px;
	left: 10px;
}
.main__bottom-tire {
	width: 290px;
	height: 290px;
	border-radius: 50%;
	background: #2b2828;;
	position: absolute;
	top: 25px;
	left: 330px;
}
.main__bottom-tire::before {
	content: "";
	display: block;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background: #C0C0C0;
	position: absolute;
	top: 55px;
	left: 55px;
	
}
.main__bottom-tire::after {
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 5px solid #454040;
	position: absolute;
	top: 125px;
	left: 125px;
}
.main__bottom-wing {
	width: 190px;
	height: 10px;
	border: 2px solid #000;
	background: #00BFFF;
	position: absolute;
	top: 0;
	left: 380px;
}
.main__bottom-wing::after {
	content: "";
	display: block;
	width: 140px;
	height: 10px;
	border: 2px solid #000;
	background: #00BFFF;
	position: absolute;
	top: 42px;
	left: 168px;
	transform: rotate(40deg);
}
.main__bottom-wing::before {
	content: "";
	display: block;
	width: 70px;
	height: 10px;
	border: 2px solid #000;
	background: #00BFFF;
	position: absolute;
	top: 20px;
	left: -60px;
	transform: rotate(-40deg);
}
.main__ladder {
	position: absolute;
	top: 80px;
	left: 230px;
	transform: rotateY(-7deg);
}
.main__step {
	width: 65px;
	height: 50px;
	border: 5px solid #454040;
}
.main__step:first-child {
	border-top: 10px solid #454040;
}
.main__step:last-child {
	border-bottom: 10px solid #454040;
}
.main__trumpet {
	width: 30px;
	height: 40px;
	background: #454040;
	position: absolute;
	top: -40px;
	left: 130px;
	border-radius: 10px 10px 0 0;
}
.main__trumpet::before {
	content: "";
	width: 10px;
	height: 80px;
	background: #454040;
	position: absolute;
	top: -80px;
	left: 10px;
}
.main__trumpet::after {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 0 50% 0 0;
	border-top: 10px solid #454040;
	border-right: 10px solid #454040;
	position: absolute;
	top: -100px;
	left: 0;
}
